intstream_*
intstream-X.X/debian/.debhelper/
intstream-X.X/debian/debhelper-build-stamp
intstream-X.X/debian/intstream.postinst.debhelper
intstream-X.X/debian/intstream.postrm.debhelper
intstream-X.X/debian/intstream.prerm.debhelper

