[Unit]
Description=celery worker service
After=network.target

[Service]
User=intstream
EnvironmentFile=/etc/intstream/environment.conf
ExecStart=/usr/share/intstream/.venv/bin/celery  --workdir=/usr/share/intstream/backend -A backend.celery:celery_app worker -l info --max-memory-per-child 24000 

[Install]
WantedBy=multi-user.target

