[Unit]
Description=celery beat service
After=network.target

[Service]
User=intstream
EnvironmentFile=/etc/intstream/environment.conf
Group=www-data
WorkingDirectory=/usr/share/intstream
ExecStart=/usr/share/intstream/.venv/bin/celery  --workdir=/usr/share/intstream/backend  -A backend.celery:celery_app beat --logfile /var/log/intstream/celerybeat.log -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler


[Install]
WantedBy=multi-user.target

