[Unit]
Description=celery beat service
After=network.target

[Service]
User=intstream
EnvironmentFile=/etc/intstream/environment.conf
Group=www-data
WorkingDirectory=/usr/share/intstream
ExecStart=/usr/share/intstream/.venv/bin/celery --workdir=/usr/share/intstream/backend  beat  -A backend.celery:celery_app -l info


[Install]
WantedBy=multi-user.target

