Package: intstream
Version: ${version}-${release}
Architecture: all
Essential: no
Priority: optional
Description:  intel analysis
  analyze incoming intel from rss and other sources
Homepage: https://github.com/username/projectname
Depends: openjdk-8-jdk, nodejs, npm, python, git, python3 (>=3.5), python3-dev, redis-server, postgresql, nginx, python3-pip
Maintainer: Aaron Jonen <aaron.jonen@cypherint.com>
