source: intstream
Maintainer: aaron jonen
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: intstream
Description:  first version
Homepage: https://github.com/username/projectname
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends} git, python3 (>=3.5), python3-dev, redis-server, postgresql, nginx
